* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: flex;
  font-family: monospace;
  font-size: 60px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 12ch;
  margin: auto;
  position: absolute;
  right: 30%;
  top: 40%;
  animation: typing 2s steps(9), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
